[2015-09-05 10:16] ryantrantan opened #1 "Don't work right when select list have full value option"
Hello,
I try with code :
[code]
On layout display then function work right but when submit form value get is one (not 1). this is not right when submit form.

Any idea to fix this ?
thank you

[2015-10-31 09:33] indrimuska commented on #1
Hi @ryantrantan,
I haven't been notified about this issue, I'm sorry for getting into this so late.
However, jQuery Editable Select was one of my first plugins, and it was thought to have identical option text and value. It's kind of text input with suggestions as you type (typeahead), so you could have any value you type, even if it's not in the select list.

There are plenty of plugins doing wha

[2015-10-31 09:34] #1 closed

[2016-02-06 10:41] msouzarunner opened #2 "how to add themes"
hi Indri Muska, great work if it included themes this plugin would be perfect.

[2016-02-19 09:21] indrimuska commented on #2
OMG, @msouzarunner sorry for looking into this so far, I haven't received any notification about this issue. However you could simply change you css and specify any style you want to get the aspect you like. Have you already tried it?

[2016-02-20 10:39] indrimuska commented on #2
I'm going to close this since it's not an issue of the plugin. Feel free to comment or open it again if you find any problem. :)

[2016-02-20 10:39] #2 closed

[2016-03-11 11:42] HmViper opened #3 "Troubles with getting val() for option tag"
In your example onSelect with val() method you getting  text of "option" tag,but it must be a value of  tag.

[2016-03-16 10:13] indrimuska commented on #3
Oh gosh, I haven't been notified of this issue, sorry for looking into this so late.
Anyway, as you can see, *jQuery Editable Select* is just a typeahead, it suggests words and auto-complete user inputs. It's not meant to return the corresponding value of a select. :)

[2016-03-16 10:13] #3 closed

[2016-03-30 12:25] marciodraw opened #4 "Populate others selects"
I upload into jsfiddle but not running
https://jsfiddle.net/marcioDraw/q3q3byac/9/

But is more easy to show you, all selects are "jquery-editable-select".
But second and the third only populated with load from external file and with id from previus select.

.load() running like a charm with normal select, but with your script dont because is not more a select.
SO, how I can load options to popula

[2016-04-12 14:11] #4 closed

[2016-05-20 05:15] zhuliuw opened #5 "the plugin jquery-editable-select doesn't work on modal-dialog"
Hi ,
this plugin is really great, but looks like it doesn't work on bootstrap modal-dialog, when I use a selector in bootstrap modal-dialog, I verified it did not work on bootstrap modal-dialog, I am pretty new to jquery, could u please tell me how to fix this issue, thanks a lot!

paste the testing code:
<div >
				    <button id="mdl-engine-confirm" type="button" class="btn btn-primary" onClick=

[2016-05-24 11:37] tomasnovotnyspsse opened #6 "Value from select box doesnt change"
If I choose some of the values in selectbox, this value doesnt change, when I want to get it from $_POST

[2016-05-24 12:30] tomasnovotnyspsse commented on #6
Ok, I defined selectBoxOne.addOption("something"); and $_POST give me right answer... Even if I write text, thanks

[2016-06-08 02:58] J3QQ4 opened #7 "License missing"
Thanks for the awesome plugin! Can you please add licensing information? Is the code available under the MIT license? This needs to be published so that your plugin can be used in other projects.

[2016-06-09 13:54] narigondelsiglo commented on #5
Try modifying in CSS the z-index of the UL object. Inspect the code in the browser to know what CSS class you need to fix.

[2016-06-09 14:33] indrimuska commented on #5
Sorry for coming into this so late, I was not notified about any issue of the project.
Anyway, as @narigondelsiglo already said (thank you :), to solve this problem you need to change the css `z-index` of the `.es-list` element. Since twitter bootstrap's modals z-index has a default value to 1050, the minimum value to view the list is 1051 (you can also set it to 1050, but it may not work under ce

[2016-06-09 14:33] #5 closed

[2016-06-09 14:34] #6 closed

[2016-06-09 14:35] indrimuska commented on #7
Yes @J3QQ4 this project is under the MIT license, tomorrow I'll add the LICENSE file.
Thank you for reporting this.

[2016-06-15 21:13] nikodz opened #8 "Feature request: ability to choose where to append the dropdown list"
Hello,

First of all, this is really nice plugin.

The problem I've faced is that I'm using editable select in dialog, which is removed from dom after closing. But, because this plugin's making _&lt;ul&gt;_ in body, it stays there.

It will be good, either if I'll be able to call something which will dispose specific 'editable select' or have reference on that _&lt;ul&gt;_ tag.

[2016-06-16 13:50] indrimuska commented on #8
Yeah, that would be great if there'll be a new `appendTo` property to choose where to append the list. At the moment you can change your stylesheet as in #5.

[2016-06-16 13:55] #7 closed

[2016-06-16 14:24] #8 closed

[2016-06-16 15:50] indrimuska commented on #5
FYI now the plugin has a new `appendTo` property to set where to insert the dropdown list in the DOM.

[2016-06-16 18:52] nikodz commented on #8
`appendTo` is good, but when I changed it to my dialogs body, list lost position.

[2016-06-17 09:01] indrimuska commented on #8
Ok @nikodz, I've just updated the plugin and created a new example for dialogs.
Check out the example directory.

[2016-06-17 16:14] nikodz commented on #8
Thanks,  4492ef4 fixed that :)

[2016-07-01 10:54] Langstra commented on #3
@indrimuska I would like to ask for this feature. This is how the combobox was meant I think and it is really useful.

[2016-07-03 18:19] indrimuska commented on #3
Hi @Langstra, at the moment I don't have the time to implement that issue by myself, but I will be happy to review any PR you'd like to create.

[2016-07-18 15:51] JonUK opened #9 "Bower package"
Hi there,

Is there a Bower package for jQuery Editable Select?

Regards

[2016-07-20 10:07] indrimuska commented on #9
Hi @JonUK, there's a bower package under the name `jquery-editable-select`.
I will add this in the documentation file too.

[2016-07-20 10:07] #9 closed

[2016-07-20 12:28] JonUK commented on #9
Ah, that's great. Thanks.

[2016-07-27 09:19] hyeonnykim opened #10 "copyAttribute issue"
test : [http://codepen.io/anon/pen/OXEmdr](http://codepen.io/anon/pen/OXEmdr)
========================================
When applying this...
"Option" tag within a "value" attribute of the data is incorrectly copied.
This is a problem that only occurs in IE.

ex)
<select>
  <option **value="0200_111111"**>select1</option>
</select>

=> converted (Only IE)
<input type="text" class="es-input" style="

[2016-08-04 10:31] indrimuska commented on #10
Hi @hyeonnykim, thank you for reporting this.
It seems to be caused by jQuery's `attr()` method, it converts the string `"0200_111111"` into the integer `200`... and I don't know why. Anyway, I found a fix for this issue and I'm going to patch it tomorrow with a new release of the plugin. Thank you again man! 👍

[2016-08-08 22:50] indrimuska commented on #10
Sorry, but I am not able to make it work. I thought I had a workaround but I was wrong and it seems it doesn't work with IE (tested on IE11). This is the [plunker](https://plnkr.co/edit/3hDzlWD6Vfrw2LktKEXa?p=preview) I've tested (check out the method `copyAttributes` on line 123), if you find some way to make it work, just let me know.

[2016-08-09 14:37] rothmarkus86 opened #11 "dynamically add Select Options"
Hi,
is it possible to dynamically add / remove <Options> to the <Select> Elements?
If so, how can I do it?
I tried to ad <li> elements to the <ul> of the <input> --> but afterwards selection for those elements doesn´t work anymore.
Thanks!

[2016-08-16 22:47] indrimuska commented on #11
Hi @rothmarkus86, I've just release a new Major version of the plugin that includes a method to add options to the dropdown list, like this:

[code]

[code]

Check out the new [README](https://github.com/indrimuska/jquery-editable-select/#editableselectadd-text--index--attrs--data--) to find out how it works now. ;)

[2016-08-16 22:47] #11 closed

[2016-08-18 16:33] 3noch opened #12 "Support jQuery 3.1"

[2016-08-18 17:07] indrimuska commented on #12
Hi @3noch, in [this fiddle](https://jsfiddle.net/8vw34tuz/1/) I've used jQuery 2.2.4 and everything seems to work fine. Otherwise, it doesn't work with jQuery ≥3 yet, but it will (I'm going to release new versions the next days). If you need it now, just replace all `.size()` methods with `.length`.
Thank you for reporting this. 👍

[2016-08-18 17:51] 3noch commented on #12
Cool. If it works with 2.2 will you update `package.json` to allow it?

[2016-08-18 17:55] indrimuska commented on #12
Sure, I'll do it right now!

[2016-08-18 17:57] 3noch opened #13 "Support submitting different text than is shown in the dropdown"
I have a use-case where I want to show options like this:

  * 001 - User 1
  * 002 - User 2
  * 032 - User 3

But I only want to *submit* the `001` part of that. Is there a way to make the options in the dropdown differ from what is actually selected?

[2016-08-18 17:59] 3noch commented on #12
Might want to update `bower.json` too. Thanks for updating this.

[2016-08-18 18:06] indrimuska commented on #12
Done, check them out! ;)

[2016-08-18 18:15] indrimuska commented on #13
Well, you can listen to `select` event and change the input value using a regular expression like this:

[code]

Or you can set an attribute to your `<option>`s (i.e. `value`) and get the value after select:

[code]
[code]

[2016-08-18 18:22] 3noch commented on #13
Awesome I'll give that a try.

[2016-08-18 18:23] indrimuska commented on #13
I'm going to close this, feel free to re-open again if you encounter any problem! ;)

[2016-08-18 18:23] #13 closed

[2016-08-18 18:38] 3noch commented on #12
@indrimuska Thank you! Looks like bower won't pick up these changes until you make a new release though.

[2016-08-18 18:40] indrimuska commented on #12
Yes, I know, the same is for NPM. Please, wait tomorrow for a new release.

[2016-08-18 18:41] 3noch commented on #12
No problem. I'll use a git clone for now. Thanks very much.

[2016-08-18 19:05] 3noch opened #14 "Disable autocomplete on input element"
Chrome (and likely other browsers) want to help out by giving me autocomplete options on my editable select. But it obviously gets in the way with the editable select's features. Consider adding `autocomplete='off'` to the element when bound to it. I'm adding it manually now but I can't imagine a case where a user would want it in this case (because it messes with the dropdown).

[2016-08-18 19:18] 3noch commented on #10
I'm seeing this on Chrome too.

[2016-08-18 19:47] 3noch opened #15 "Hitting "Enter" selects *and* submits"
Pressing Enter while selecting an option with the keyboard both selects *and* submits. This is not the ideal (nor advertized) behavior.

[2016-08-18 19:48] 3noch commented on #15
Hmm...perhaps it was something in my `select.editable-select` callback that broke this behavior.

[2016-08-18 19:50] 3noch commented on #15
Indeed it was. Sorry for the noise.

[2016-08-18 19:50] #15 closed

[2016-08-18 19:54] 3noch commented on #10
@indrimuska It looks like you're copying the selecet options into a `ul`? The `value` attribute on `li` tags is always interpreted as a number, which might be the problem: http://www.w3schools.com/tags/att_li_value.asp

[2016-08-19 00:09] indrimuska commented on #10
Well, you're right, but I still get the correct value in Chrome:

| ![Elements](https://cloud.githubusercontent.com/assets/1561134/17794637/7475c63c-65b1-11e6-907a-741e181606b9.png) | ![Console](https://cloud.githubusercontent.com/assets/1561134/17794638/7b1dccdc-65b1-11e6-8a6d-f13eae9f065e.png) |
|---|---|

[2016-08-19 00:11] indrimuska commented on #14
Great tip! This will sure be part of the next release!
Thank you @3noch. :)

[2016-08-19 03:25] 3noch commented on #10
I see. I was using `.val()` so perhaps that was my problem.

[2016-08-19 09:54] indrimuska commented on #14
The fix for this issue has been released in version [2.0.1](https://github.com/indrimuska/jquery-editable-select/releases/tag/2.0.1).

[2016-08-19 09:54] #14 closed

[2016-08-19 09:55] indrimuska commented on #12
Full support for jQuery 3.1 is now available in the latest release [2.0.1](https://github.com/indrimuska/jquery-editable-select/releases/tag/2.0.1).

[2016-08-19 09:55] #12 closed

[2016-08-19 14:43] 3noch commented on #12
Thanks @indrimuska!

[2016-08-26 03:33] zswcorn opened #16 "event order issue"
when select "li" tag,sometimes the 'input' tag's 'blur' event will be fired before 'click' event , maybe better to use 'mousedown' event replace 'click' event and add e.preventDefault() in the 'mousedown' event handle function.

[2016-09-11 10:25] indrimuska commented on #16
Hi @zswcorn, sorry for the late response and thank you for the advice!
Since I am not able to reproduce your issue, can you try just using the combination with mousedown on `<li>` and mouseup on `<ul>` (without preventing default event) if it works on your system?

[code]

[2016-09-22 19:01] markusgit86 commented on #11
Hi @indrimuska ,

thanks a lot!
Sry for the late response. I implemented it now and it works fine!

Kind regards,
Markus

[2016-09-22 19:08] markusgit86 opened #17 "Selection of elements in chrome browser via mouse cursor broken?"
Hi,

in the Chrome browser (V52.0.2743.116, Windows 8) I cannot select the elements of the editable select via the mouse cursor.

Selection via the arrow keys works fine.
Also selection in Firefox, on Safari (iPhone 6s) and Chrome on android works fine.

Regards,
Markus

[2016-09-24 00:16] jintu-varghese opened #18 "Performance Issue"
When the Option list count is high (say ~200) , EditableSelectUtility.prototype.initialize function takes much time for the below loop. It really hangs if the editable select need to be repeated for each row in a table.

that.es.$select.find('option').each(function (i, option) {
			var $option = $(option).remove();
			that.es.add($option.text(), i, option.attributes, $option.data());
			if ($optio

[2016-09-30 22:16] BobDickinson opened #19 "Unable to explicitly expand/collapse list via UX"
I have a case where the user may enter any value into an edit control, but I'd like for them to be able to choose from some common values (sometimes they will enter a custom value, but usually they will choose one of the common ones).

This control seemed like a good solution.  When using this with filter: false, the user can see all of the items in the list (no matter what they may have already t

[2016-10-01 07:23] BobDickinson commented on #19
I fixed this locally.  Let me know if you're interested in a PR.

I add this function:

    EditableSelectUtility.prototype.isOverDisclosureArrow = function (event) {
        var rightPadding = parseInt(this.es.$input.css('padding-right'));
        var rightBorder = parseInt(this.es.$input.css('border-right-width'));
        return (event.offsetX > (this.es.$input.outerWidth() - (rightPadding + ri

[2016-10-01 07:29] BobDickinson opened #20 "Key up/down shouldn't move cursor"
When the list is open and the up/down arrow keys are being used to move through the list, those arrow keys should not be sent to the edit control (add e.preventDefault() in the handlers).  This will prevent the i-beam in the edit control from jumping between the beginning and end of the text as up/down are pressed.

[2016-10-01 17:15] MarkiEC13 commented on #17
Yes, I found the same issue without filter option. Sometimes it works when selecting multiple times, though.
Thanks

[2016-10-05 18:04] elamprecht commented on #17
Have found the same issue by a user.  Digging into it, I concur with @MarkiEC13.  I have noticed, though, that the first item in the list is always selectable for me whereas the others in the list requires multiple attempts.  Keyboard always works.

[2016-10-06 13:06] elamprecht commented on #17
For my usage, I changed one line in the code in the initializeList function:
   orig: .on('click', 'li', function () {
   new: .on('mousedown', 'li', function () {
This gives time to act on the mouse click down before the blur event occurs.

Ed

[2016-10-08 07:23] indrimuska commented on #18
Hi @jintu-varghese, can it be helpful to have an option that allows you to set all the items in one time? I mean something like this:

[code]

If you provide me a little example (fiddle/plunker) I can try to find a solution for this.

[2016-10-08 08:09] indrimuska commented on #19
Hi @BobDickinson, I completely agree with you. I haven't had this kind of use case, but I'm going to cover them all in the next release.

Since the user may want to choose WHEN the dropdown should open (in your use case you want to open the list by clicking or hovering on the disclosure arrow, but others may want to open the list programmatically), I will add a new `trigger` option that allows to

[2016-10-08 08:10] indrimuska commented on #20
Correct! Thanks @BobDickinson for reporting this, I'll patch it as soon as I can! :)

[2016-10-08 08:18] indrimuska commented on #17
Thank you guys for reporting this!
Nice trick @elamprecht, let's go for it. I will add this in the next release. :)

[2016-10-09 02:44] djj128 opened #21 "If the number of options is greater than 400, then it will not work."
If the number of options is greater than 400, then it will not work.

[2016-10-13 20:31] #17 closed

[2016-10-13 20:32] indrimuska commented on #19
FYI, trigger option is now available from [v2.2.0](https://github.com/indrimuska/jquery-editable-select/releases/tag/2.2.0).

[2016-10-13 20:32] #19 closed

[2016-10-13 20:33] indrimuska commented on #17
This is now fixed in [v2.2.0](https://github.com/indrimuska/jquery-editable-select/releases/tag/2.2.0). Thanks

[2016-10-13 20:33] indrimuska commented on #20
Fixed in [v2.2.0](https://github.com/indrimuska/jquery-editable-select/releases/tag/2.2.0), thanks @BobDickinson! :)

[2016-10-13 20:33] #20 closed

[2016-10-13 20:34] indrimuska commented on #21
Please move your questions in #18.

[2016-10-13 20:34] #21 closed

[2016-10-13 20:35] indrimuska commented on #16
Hi @zswcorn, are you able to reproduce this issue in the latest version [v2.2.0](https://github.com/indrimuska/jquery-editable-select/releases/tag/2.2.0)?

[2016-10-17 00:38] zswcorn commented on #16
I'm really sorry that response too late,The project I was running has too many things to do in the last five weeks,So , I try the new version in chrome v54 and IE 11,It seems work now.The events are in the right order to fire.

[2016-10-17 00:38] #16 closed

[2016-10-17 06:04] indrimuska commented on #16
Don't worry man! Happy to hear you've marked this issue! :)

[2016-10-19 23:19] gzzz opened #22 "Option value"
Is no support of value attribute of the option?

[code]
Could receive a value instead of option label.

[2016-10-28 19:25] indrimuska commented on #22
Yes, using JS you can listen to the `select.editable-select` event.
More info at http://indrimuska.github.io/jquery-editable-select/, check for **Listen changes** section.

[2016-10-28 19:25] #22 closed

[2016-10-28 19:41] gzzz commented on #22
Without event listener, just receive selected option value on form submit, like usual select do?

[2016-11-08 18:25] kghandi opened #23 "Editable entry does not work when Filtering is off"
Turn filtering off. Then type in a value which is not in the option list. It does not stick. It disappears as soon as you press enter.

[2016-11-09 05:40] kghandi opened #24 "Allows selection of disabled options"
EditableSelect.prototype.select should also check a.is("li[disabled]") in order to prevent selection of disabled options.

[2016-11-09 22:10] indrimuska commented on #22
No, sorry you can't without the listener :(

[2016-11-09 22:38] indrimuska commented on #24
Hi @kghandi, you're absolutely right, thanks for reporting this, I'm going to fix it as soon as I can. :)

[2016-11-09 23:07] indrimuska commented on #24
This is now fixed in [v2.2.2](https://github.com/indrimuska/jquery-editable-select/releases/tag/2.2.2).
At the moment I decided to keep disabled options in the list (with a different opacity style value), but maybe I can remove them at startup time.

[2016-11-09 23:07] #24 closed

[2016-11-10 00:01] kghandi commented on #24
I think keeping disabled options with a different style is the right thing.  So long as they are not selectable.

Removing them would not be the right thing.

Sent from my iPhone

[2016-11-15 10:57] flntzr opened #25 "Demo broken"
The demo is broken for me. All editable selects are not displayed in current Chrome and Firefox on Windows 10.

This is what the developer console tells me:
[code]

[2016-11-17 11:18] htb012 opened #26 "up key bug"
press up key ,on the brower console show nextElement is not defined.

L156,157

[2016-11-17 23:15] indrimuska commented on #25
Thank you @flntzr, let me fix this in a minute.

[2016-11-17 23:16] #25 closed

[2016-11-17 23:26] indrimuska commented on #26
Thanks @htb012 for reporting this.
I'm going to fix this right now, give me five.

[2016-11-17 23:27] #26 closed

[2016-11-17 23:37] #23 closed

[2016-11-17 23:38] indrimuska commented on #23
Thanks for reporting this. It should be fixed in the latest release 👍

[2016-12-01 17:05] RenanLazarotto opened #27 "Add option to filter only when typing"
I don't know if this fits as an issue, but I think it would be nice to have an option to only filter values when typing. This way, when a value is selected and the dropdown is spawned again, it shows all the values and not only the ones that matches the filter.

I suggest this because I believe users in general are prone to wrongly select an item from a list (exactly like I did while trying the pl

[2016-12-07 23:05] alanhill commented on #18
Hey @indrimuska

I'm running into this as well, my hunch is it's due to one of the more recent versions released. The version I used in August didn't have this issue.

I made an example rails app here https://github.com/alanhill/editable-select-example with instructions to get going.

Source for editable-select is [here](https://github.com/alanhill/editable-select-example/blob/master/app/assets/ja

[2016-12-23 02:46] yangjin795 opened #29 "If the value of option is different from the text, the value in request is the text, not the value"
If the value of option is different from the text, the value in request is the text, not the value
for example, the select is like this:

[code]

when use the editable select, if select the first option not enter text, the value in request is the "lovely cat" rather than "cat".  Bug value in request should to be "cat"

[2017-01-21 12:41] kamnab opened #30 "event select.editable-select run twice when use jquery().on()"
$('#container').on('select.editable-select', '.editable-select', function (e, li) {
      // occur twice
}

[2017-01-30 12:40] klsdngr opened #31 "Scroll not working if drag scroller by mouse button."
It works fine in chrome and firefox but when comes to IE it scroll not works. When we try to drag scroller by mouse it suddenly closes list but if we use mouse scroller to scroll list then only it stays at its position.

[2017-01-30 13:25] klsdngr commented on #31
AnthonyBB changes solve this issue..!

[2017-01-30 13:25] #31 closed

[2017-02-04 18:12] indrimuska commented on #29
Hi @yangjin795, this behavior is how the project has been designed.
Anyway you can listen for `value`s, instead of texts, simply by listening the `select.editable-select` event.
Check out the **Listen changes** section in the [demo page](http://indrimuska.github.io/jquery-editable-select/).

[2017-02-04 18:12] #29 closed

[2017-02-28 22:45] paulrrogers opened #32 "Support JQuery v3"
Any possibility of JQ3 support?

[2017-03-07 11:54] Baraw opened #33 "Get the selected value on php"
Hello,

When i try to get the value of my select via the GET method on php, i got the **option name**, _not the real value_.
I tried without initialise the select with editable-select and it works.

## Example:
**Before:**
[code]
**After**

[code]

### How can i get the value number "2" using editable-select please ?

[2017-04-11 22:16] andrehsmendes opened #34 "Add support fir GROUPED options."
Please add support for grouped options.

[code]

[2017-04-23 09:35] indrimuska commented on #33
Check out "Listen changes" section in the [Demo page](http://indrimuska.github.io/jquery-editable-select/).

[2017-04-23 09:35] #33 closed

[2017-05-07 07:12] XiyanHu opened #36 "Keyboard Issue"
It seems that the up and down array keys don't work correctly under this situation
![default](https://cloud.githubusercontent.com/assets/22786769/25778655/952ad59a-32b9-11e7-801d-5dcb37c0ee1a.png)

[2017-05-07 11:54] indrimuska commented on #30
Hi @kamnab, could you please provide a full working sample for this?

[2017-05-07 12:19] indrimuska commented on #36
HI @XiyanHu, thanks for reporting this. Let me fix this in a minute..

[2017-05-07 12:21] #36 closed

[2017-05-07 12:22] indrimuska commented on #36
This will be available in the next release

[2017-05-07 12:32] indrimuska commented on #32
Yes @paulrrogers, have you found any issue with JQ3? It seems to work properly to me..

[2017-05-31 06:03] meteoric9637 opened #37 "This plugin does support dynamic reload?"

[2017-05-31 23:16] edsongti opened #38 "data atribute"
How do I add a data atribute with this:

.editableSelect('add', text [, index [, attrs [, data ]]] );

I've tried many ways, but no way. Please, help me.

[2017-06-05 08:02] adl1995 opened #39 "Using value attribute of <option> tag"
I'm running a Laravel 5.4 application and using `jquery-editable-select` to create a typeable pulldown. My code is set up like this:
[code]
Everything is going great, but when the POST request is sent I get the value Albania instead of AL. Is there any way to pass the value attribute?

[2017-06-09 11:03] kedves opened #40 "Multiple event calls"
Hi. My problem is that when I select an option, the built in events are called at least 2 times.

[Example](https://jsbin.com/radabuheqi/edit?html,js,console,output)

This is a bug or I'm doing something wrong :)

[2017-06-28 08:59] mosleh200989 commented on #39
$('#district').editableSelect('add', function(){
				$(this).val(item.id);
				$(this).text(item.name);
			});

[2017-06-28 08:59] mosleh200989 commented on #38
$('#district').editableSelect('add', function(){
				$(this).val(item.id);
				$(this).text(item.name);
			});

[2017-07-02 22:48] vilmes21 commented on #39
@mosleh200989 what exactly did you mean there? What is `item` ? And how should we use this snippet to get our 2-letter value in this case?

[2017-07-06 21:13] leopanzardo commented on #39
@adl1995 this happens because the plugin replaces the select element with a text input and a hidden ul list of li items generated using the select options.

What you can do to fix this is change your code like this:

First replace your select html code with this:
[code]

Then where you included the script tag with the options for your plugin you can use this:

[code]

What you're doing here is usi

[2017-07-06 21:39] leopanzardo commented on #37
@meteoric9637 Well, the description of your issue doesn't help much, but i'm guessing that what you're trying to do is remove the applied filter to reset the select options to it original state, right?

This plugin doesn't have a "built in" function to do so (it probably should have a clearFilter function maybe), but what you can do is simply use a line of javascript code from wherever you want to

[2017-07-10 18:48] #32 closed

[2017-07-16 02:02] ianroberts131 commented on #40
So I don't have a great explanation for why this works, but I played around with your code and was able to fix the double event call by storing `$("#test")` in a variable first, and then calling `.on('select.editable-select')`, like this:

[code]

I know it's not the most elegant solution, but hope that helps :)

[2017-07-23 23:09] ianroberts131 opened #42 "Add numeric/alphabetic ordering to the add method"
@indrimuska

I recently used this plugin in an app to allow users to adjust font size. 1 thing I wanted was the ability for a user to enter a font size and have it insert into the dropdown in numeric order - so I wrote a relatively simple function to make it happen. It seems like this could be a useful addition to the `add` method - is this something you would consider including? If so, I'd be hap

[2017-07-24 19:58] baywet opened #43 "TypeScript Definitions available"
Hey,
Not an issue, more of a good news here.
I took the time to add typescript definitions for that package and the PR got accepted
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/18356
https://www.npmjs.com/package/@types/jquery-editable-select
Maybe the documentation could be updated to provide that information as well?

[2017-08-10 07:11] vipullakhtariya opened #44 "Add not working on dependent Select with another select box"
I having one selectbox in that on change value i have to set values of another select box for that i am using
`$('select#chat_category').editableSelect('add', 'IIIII');`
on ajax success event but the data is not set on ajax success event but when i manually add
`$('select#chat_category').editableSelect('add', 'IIIII');`
in outside ajax call its working !

[2017-08-11 12:35] #44 closed

[2017-09-24 16:29] mcheung63 opened #45 "support multiple select?"
support multiple select? thanks

[2017-10-03 09:38] neskydul commented on #31
@klsdngr can you please tell me were the solution is? can't find those changes

[2017-10-10 20:01] dsiqueira commented on #22
Try to use the following code $(".es-list .es-visible").val();

[2017-10-19 00:35] NucleaPeon commented on #18
I attempted to display 759 options in a select. Once I called `editableSelect()`, it hung and I had to close the tab. All js/css was minified and hosted locally. Sorry I cannot add more than a "me too" to this.

[2017-10-25 10:43] anomis81 opened #46 "IE jquery-editable-select"
Hello,
I wanted to report a problem.
If you use IE as a browser, the selection with a mouse does not work because after clicking on the options list, the drop-down closes.

Regards

[2017-11-18 06:41] lei1996 opened #47 "angularjs ng-repeat 渲染dom的问题"
![image](https://user-images.githubusercontent.com/19546371/32977743-7e47ddd8-cc6e-11e7-9705-fc31f447a4a1.png)

我该如何通过ngrepeat 来重新渲染dom

[2017-11-23 06:10] wapsi opened #48 "Vulnerable for XSS even data is HTML entity encoded (?)"
I noticed that jquery-editable-select executes JS from select box option value even the data is HTML entity encoded. Am I doing something wrong here or is this an issue with jquery-editable-select?

I've uploaded one sample script here: https://wapsi.kapsi.fi/test.php

Example:

[code]

[2017-11-23 06:53] wapsi commented on #48
I made a pull request which fixes this issue: #49

[2017-12-15 04:16] sainwind opened #50 "how to select the value's option"
eg: <select name="type" >
    <option value="a" >a</option>
 <option value="b" >b</option>
 <option value="c" >c</option>
</select>

$('select').editableSelect();//here it finished render in html

then ,i want select the value with 'b' buy js code,how to do this?
$('select').val('b');  doesn't work well !

[2017-12-27 15:35] JendrikD commented on #27
If some people are still looking for a solution [these few lines](https://github.com/JendrikD/jquery-editable-select/commit/d3712fa3484b24d6f11de1efffd02e7f2088de0e#diff-0732de728a41420b59a85a00c83376fdL191) reset the filter when the input is focused while still keeping the input.

[2018-01-25 09:37] rubbym07 opened #51 "how to get input field text value if a user not change any option in editable select"
how to get input field text value if a user not change any option in editable select

please help me

[2018-02-20 15:04] JendrikD commented on #51
Afaik there isn't a function within the plugin to do so. However you can get an array of inputs (depending how many editable-selects you created) with $('.es-input')

$('.es-input').val() will return the input of the first
$('.es-input')[2].value will return the input of the given index

you could also code it yourself inside the plugin using this.$input.val()

[2018-02-21 04:05] rubbym07 commented on #51
thank you very much for your reply

On Tue, Feb 20, 2018 at 8:34 PM, Jendrik Dathe <notifications@github.com>
wrote:

[2018-02-22 11:32] ognale88 opened #52 "Selected Val returns "0" always"
Hi, Amazing code to work. Everything works fine, Except Selected "Value". Selected Test is been returning correctly, whereas Value is always "0".

**Below my sample code :**

**_ASPX_**
[code]

**_CS_**
[code]

Can you help me with this issue ? Where Iam missing ?

Thanks in advance.

[2018-02-23 16:34] boobendrababu commented on #52
Am also facing the same issue.
$(document).ready(function () {
            $('#selSample')
                .editableSelect()
                .on('select.editable-select', function (e, li) {
                    alert(li.val());
                });
        });

but my list rendering is having the attribute value,
<div>
            <input type="text" autocomplete="off" id="selSample" style="width: 70

[2018-02-28 05:11] boobendrababu commented on #52
I found the following solution to get the value from the attribute 'value',
[code]

[2018-03-16 09:16] astopford opened #53 "Safari dropdown scrollbar not working"
Safari version 11.0.3 when you click on the arrow the dropdown is displayed, when the number of items exceeds the space available A scroll bar is displayed but when You click on the scroll bar the dropdown disappears, the only way to access the items is by using the arrow keys.

[2018-03-23 16:35] webilhan commented on #53
@astopford I also faced with the same issue on IE. See #28 is solution for you.
This PR already there more then 2 years))) I hope @indrimuska will find time to review PR and merge PRs sometime

[2018-03-23 18:15] indrimuska opened #54 "Looking for maintaners"
Hi all,

Sorry for the long interruption, I definitely have no time to maintain this project anymore.

Anyway as I see some of you still use this project and would like to keep it updated I am now looking for collaborators that will happily reviews PRs, issues and stuff like that.

Anyone interested?

Thank you all for investing your time in this.
Indri

[2018-03-26 21:30] venkat1m commented on #53
Until the PR is merged, A workaround like this might work where you create with trigger property set to 'manual' and the add a click listener to show the drop down.

$('#myselect').editableSelect({ effects: 'default', trigger: 'manual'});
$('.es-input').on('click', function(){
	$('#myselect').editableSelect('show');
});

[2018-04-19 17:26] musicin3d opened #55 "Placeholder"
Since this is implemented with a normal text input field, there's no reason not to support the placeholder attribute. We could set `data-placeholder` on the original select tag. This is needed for my use case. I'll see if I can work up a a PR.

[2018-04-26 17:59] musicin3d opened #57 "HUGE performance issue with large datasets"
During initialization, you're running the filter() function after adding each list item. That filter function runs through the entire list of previously loaded items.

This is a BIG no-no. With 1000+ items, firefox grinds to a halt. In scientific terms, this is a time complexity of O(n^2). In less scientific terms, it's a CPU bomb.

Another PR is coming.

[2018-04-26 18:12] musicin3d commented on #57
I'm managing a fork of this project and our version numbers are out of sync now. I don't have time to submit a proper PR right now. Here's a gist: https://gist.github.com/musicin3d/3e0d411bb90f4d7c576537f00057e039

[2018-04-27 17:48] musicin3d opened #58 "Select event collides with built-in jQuery event"
When the use highlights text inside a text input, jQuery fires a "select" event. This plugin intercepts the event, adds the suffix to it, and refires it. This breaks client code that depends of the "select.editable-select" event (for example, to auto-submit the form).

I see two immediate solutions:
1. Rename the event to "selected"
2. Prevent the plugin from intercepting and renaming the event

[2018-05-01 06:15] githubyyf commented on #52
Am also facing the same issue.
$(function () {
    $('#ipattr_id').editableSelect(
        {
            bg_iframe: true,
            case_sensitive: false, // If set to true, the user has to type in an exact
            isFilter:true //是否根据条件过滤下拉选项
        }
    )
});

 but I don't understand how to solve it,
I need your help;
@boobendrababu

[2018-05-31 06:20] jinangchao opened #59 "Initialize function takes much time when load much datas"
It seems like you didn't spend much time on this project latest?
I'm looking for a solution of initialize function takes much time till the page down.
Could you provide a solution?

[2018-08-18 00:33] jordan-realfoto commented on #39
the above code doesn't work for me. the 'select.editable-select' event doesn't even get attached to the element. i think the only to accomplish this is how @mosleh200989 suggested which is unhelpful if you're getting your options from your markup and not via JS.

[2018-08-26 13:28] Nosean opened #62 "json data add editable select field"
Hi,

just test your editable select field.
I would like to have a JSON file as an option value.

My code:
`    $.getJSON("{{ route('users.show') }}", function (data) {
        var i = 0;
        $('#selectCustomer').editableSelect('add', function () {
            $(this).val(data[i].id);
            $(this).text(data[i].name);
            i++;
        });
    });`

can anyone help

[2018-09-03 05:28] Zhao233 opened #63 "can't get the choosed option's value"
i find sometimes i can't get the value of the option that have choosed( i use this way : $("ul").find("li[class$=selected]")[0].value).After i choosed the option, the li tag that i choosed sometimes won't add the "selected" class

[2018-09-30 04:10] Zhao233 commented on #63
i think you are chinese,so,i anwser you with chinese，if you can't read it，please give me a reply。
我把那个js文件里的EditableSelectUtility.prototype.initializeList这个方法换掉了，就是换了它选中时候的class
换成了这个：
EditableSelectUtility.prototype.initializeList = function () {
		var that = this;
		that.es.$list
			.on('mousemove', 'li:not([disabled])', function () {

				that.es.$list.find('.focused').removeClass('focused');

[2018-09-30 07:05] NxGreen commented on #63
@Zhao233  嗯，你这样也可以。可以不用修改为.foucsed ，直接注释掉 mouseup事件就可以了。然后select通过.selected去取值选中的项就行了。
具体原因是因为 mouseup 的 bug (会偶尔丢失该事件，可以用 mouseleave来替代mouseup事件 )。不明白作者此处为什么要调用mouseup事件取消selected选择。

[2018-09-30 12:17] Zhao233 commented on #63
贼奇怪，，，，，我都是临时去写前端的，我都看不大懂他的库文件2333

[2018-10-08 04:53] huuthang1993 commented on #63
English please

[2018-10-08 04:58] Zhao233 commented on #63
A friend told me that you could remove the mouseup function,or replase it by mouseleave function in the jquery-editable-select.js (search this : EditableSelectUtility.prototype.initializeList = function () ) . Sometimes the mouseup function may uncaught by system

[2018-10-23 15:29] sinergycode opened #65 "LaravelCollective - selected"
Hi, i have a problem with this plugin,
More infomration about the problem is described in the next issue:
https://github.com/LaravelCollective/html/issues/572#issuecomment-432277637

Pleas help...

[2018-10-25 00:34] wannadream commented on #63
他的目的仅仅是添加和删除'selected' class，在li中其实并没真正记录选择项，因为选项值已经被赋到input textbox里了。

[2018-10-25 00:37] wannadream commented on #54
I can give some time to you if you want, BRO.

[2018-11-01 14:59] b-vetter opened #66 "Set default value which is shown in the input field"
Hello and thanks for the great plugin. :+1:

I want to set a default value for my editable selection fields.
With an "selected" option is the value only in the possibile value list as default but not *inside* the input field itself.
How can set an default value for the field content?

Currently is this my only option to set the actual default value:
[code]

I hope you can unterstand what I mean.
T

[2018-11-01 20:17] musicin3d commented on #59
Could this be related? https://github.com/indrimuska/jquery-editable-select/issues/57

[2018-11-13 07:16] MEZboy commented on #37
very nice result!help me a lot!

[2019-01-03 11:22] gihanakalanka opened #67 "Clear Selected Option"
Hello,
I'm trying to clear selected item using Jquaery. but I didn't found any way to do it.
How do I do this?

[2019-01-10 15:08] fazli596 opened #68 "Drop down list is show in other part of the page"
The plugin is working properly when we use it normally with a select box, but when I use it inside a form, the dropdown list of the selectbox is shown in the left side of the table not underneath the select box.
Could you please help me with this problem?
Thank you.
![dropdown problem](https://user-images.githubusercontent.com/46568452/50977168-b06ee700-1517-11e9-8b8f-c8ab4afb1452.jpg)

[2019-01-24 16:43] Asac2142 commented on #67
You want to clear all the options from the dropdown? If so, then do this:
`$('#editable-select').editableSelect('clear');`

[2019-02-04 16:20] alcastronava opened #69 "Diacritic seach"
https://alistapart.com/article/accent-folding-for-auto-complete

[2019-02-20 20:30] massam50 commented on #57
Much better. Performance issues are reduced drastically. We have about 3000 items, took about 45 seconds to load. with this update it take 5 seconds.
Thank you.

[2019-03-08 12:43] Umair45 opened #70 "Hide vertical scrollbar in <select> element"
it doesn't show the option list on IE when clicking on the scroll bar, infact gets removed and dropdown disappears ?
Please help!

Thanks in advance,
Umair

[2019-04-12 07:18] tanghf0403 commented on #46
too

[2019-06-11 08:58] zuoluo11 commented on #67
thanks a lot

[2019-07-04 14:49] fabiobraganet commented on #22
I lost my time

[2019-07-05 17:41] icolumbro opened #71 "How to get value on form submit"

[2019-07-05 17:47] icolumbro commented on #71
I have a form with a select on which I'm try to using jQuery Editable Select. How can I get the original value of an <option> element when the form is submitted?

HTML:
[code]

jQuery:
[code]

[2019-08-05 06:28] ArulManiMurugesan opened #72 "Drop down list value is not persisted on Ajax Postback."
Guys,

I have implemented editable select for two dropdown in a page  in the below manner

Dropdown Code in ASPX Page

<div style="position: relative; float: left;">
<asp:DropDownList ID="ddlSubProgramName" runat="server" CssClass="ddl"          AutoPostBack="true"OnSelectedIndexChanged="ddlSubProgramName_SelectedIndexChanged" EnableViewState="true" TabIndex="6">
</asp:DropDownList>
</div>

<div s

[2019-09-19 15:17] AndrewDavis opened #73 "Dropdown button should still work if there aren't any matches"
I've tried out this plugin, and it works very nicely, close to perfect. The only problem I've encountered is with the dropdown "button".

First, I think the mouse icon should change to normal when it's over this button. Also, when I typed something that filters out some or all of the options, and I go to click the dropdown button, I intuitively expect it to show me all of the options again and sto

[2019-09-27 20:44] sdw283074970 commented on #68
You can modify the value of a parameter named `EditableSelect.prototype.show`  that anchored the drop-down list position. You can locate the parameter in file `jquery-editable-select.js`

[2019-11-18 22:33] RM6SS62 commented on #73
Don't waste your time with this, it has a horrible performance and lacks of the most basic features.

[2019-11-19 02:26] AndrewDavis commented on #73
This is by far the best made editable select that I've seen online, so, unless you have a better alternative, your words are wasted. Most of the others I've tried do terribly in the looks and consistency department.

[2019-12-30 14:28] mcmino commented on #73
The behavior you describe is the same way in which HTML5's Datalist works. I also find it kinda odd, but it has it's logic because of the filtering ot the elements.

You may try the plugin's filtering option in the initialization params, if you set it as false the options will always be displayed. Also, someone came up with some sort of workaround, I haven't tested it though https://github.com/ind

[2019-12-30 17:43] AndrewDavis commented on #73
...Why wasn't it merged?

[2019-12-30 17:43] AndrewDavis commented on #27
^ This should be merged?

[2020-01-24 01:46] mohammed2782 commented on #57
it's good but the problem it's a bit slow when trying to delete the entry

[2020-01-31 13:41] liglesiash opened #74 "Clear value on blur when no item is selected"
Hi.
When I filter an editable-select and select no item, but a previous item was selected, I 'd like to clear the value (on blur, hide or any where else). Could any one help me?

[2020-02-12 22:15] indrimuska commented on #43
Thanks @baywet for you time, I'll do it in a minute!

[2020-02-12 22:55] #43 closed

[2020-03-16 15:55] pumano commented on #30
[code]
that code fires 2 events...

I found workaround for people who use it: use only 'select' not 'select.editable-select' and it fires exactly 1 event

[2020-04-24 16:44] AndrewDavis opened #75 "Use window.onload not document.onload!"
Hey, just thought I'd let everyone know that using `document.onload` or even `document.onreadystatechange` with the `complete` state didn't work, I had to use `window.onload` for jquery-editable-select to function properly! The alternative is to put your `<script>` tag at the end of the `<body>` of the page, but I don't like to do that.

[2020-06-20 16:03] sbormann opened #76 "jQuery mobile"
Hi,
i am searching for a version, that will work with jqery mobile. Are there any plans? Or does anyone know of a version or a similar project that works with jQuery mobile?
Many thanks,
Greetings, Sebastian

[2020-06-24 14:23] VivekMoyal28 commented on #63
This will help you.
`       $(document).ready(function () {
            $('#Category')
                .editableSelect({
                    onSelect: function (element) {
                        $('#Category').attr("name",'Category');
                        $('#Category').attr("value",element[0].innerHTML);
                    }
                })

        });`

[2020-07-04 06:36] thebatmanreturns commented on #63
Hi, I'm facing the same issue!! can anybody help please.

[2020-07-05 04:10] VivekMoyal28 commented on #63
Try my reply it worked for me

[2020-09-09 13:19] AmanKhan9 commented on #54
I am also using the plugin in one of my projects and would like to contribute to the project.

[2020-09-09 13:31] AmanKhan9 commented on #74
How about using some brute force :

var comboRef = document.getElementById('yourcomboid');
var isMatch = false;
var liElems = thisRef.parentNode.getElementsByTagName("li");
 for(var i=0;i<liElems.length;i++){
           if(liElems[i].value==thisRef.value){
                        isMatch = true;
                        break;
                    }
                }
                if(!isMatch)  co

[2021-02-25 09:02] tonila opened #78 "setText method missing"
There was no option to set text.

I extended EditableSelect with 'select' method like this as a workaround. It would be nice, if method was added to editableSelect.

[code]

[2021-03-01 23:07] wannadream commented on #78
What is the use case here? I believe you can call select($li) to achieve the same function.

[2021-03-03 08:00] tonila commented on #78
Use case was, that I needed to set text, to value, that was not in the select list.

If I have following values in select:
[code]

And I need to set text to "Denmark":
[code]

[2021-03-06 06:47] voltwu opened #79 "created.editable-select event not working"
I followed the [demo](https://github.com/indrimuska/jquery-editable-select).

I made an example on [Fiddle](https://jsfiddle.net/atqw02fv/25/).

And I am testing the `created.editable-select` event, which should be fired when the load finished. But, it doesn't invoke my method `console.log("ok")`.

My Html Code:
[code]
MY JS Code:
[code]
![kLJrx](https://user-images.githubusercontent.com/45677662/

[2021-03-08 16:45] wannadream commented on #78
Check this: https://github.com/indrimuska/jquery-editable-select/blob/53d8a68ea01637eb7c23fdf78e0f64b897eeca2a/src/jquery-editable-select.js#L70

[2021-03-08 17:12] #59 closed

[2021-03-08 17:45] tonila commented on #78
Ok. Am I missing something here?

I altered setText function I am proposing from select method you are referring to.

The reason for altering select method was, because it returns if list does not already contain the item.

https://github.com/indrimuska/jquery-editable-select/blob/53d8a68ea01637eb7c23fdf78e0f64b897eeca2a/src/jquery-editable-select.js#L69

So there must be a way to setText in edita

[2021-03-23 05:43] mannyvergel commented on #79
I encounter the same thing for all the triggers of editable-select

[2021-04-10 20:19] wannadream commented on #79
I haven't had time to resolve this throughly yet, but I do have a workaround if you would like: https://stackblitz.com/edit/jquery-editable-select-created-event

[2021-04-26 06:27] wannadream commented on #79
I pushed a solution for this. Please see updated READNE. You need to register event handlers before initializing the editable select.

[2021-04-26 06:27] #79 closed

[2021-05-10 11:45] raharinjatovo opened #80 "Display "not found" if key word is not matched"
Hello, how to display ' not found" text when thres no matching text

thankjs

[2021-05-10 21:16] wannadream commented on #80
I don't see it has a feature like this. You are more welcome to customize it yourself.

[2021-05-12 06:19] wannadream commented on #80
You can add your logic in filter() method. https://github.com/indrimuska/jquery-editable-select/blob/7b248a10f6c32c7da0b8c700584de9b3cd9a1b20/src/jquery-editable-select.js#L41

[2021-09-15 11:25] boscoromero opened #81 "when submitting the form, I could not get <select > option value. it returns <select> option's text only."
<select name="batch" class="form-control  ml-3" id="editablebatch">
                    <option value="0">Select the Batch</option>
                    <option value="1"> 2015</option>
                    <option value="2">2016</option>
                     <option value="3">2017</option>
                      <option value="4">2018</option>
                      <option value="5">2019</option>

[2022-05-26 06:56] jplluu opened #82 "How can I trigger the drop-down when I click the drop-down triangle, and focus does not trigger the drop-down?"

[2022-07-06 16:53] REDAL opened #83 "serious issues!"
Hi community @AnthonyBB  @indrimuska  @wannadream

first, I want to thank you for editable-select, it really simply selects, and makes them more useful.

simply, when I tried to disable the filter, it shows the whole list, but when u click on an option, it does not disappear.

also, I tried a lot of solutions, to make the list shows just under the textbox, but not working

if you can help me, it w

[2022-07-08 16:18] wannadream commented on #83
I am not sure what are you trying to achieve. Since it is open-sourced, you can modify it to the way you want.

[2022-07-29 23:18] #83 closed